{
  "root": true,
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/jsx-runtime", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "eol-last": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.eslint.json"
      },
      "plugins": ["@typescript-eslint"]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
